.uploadBtnReleaseDate::placeholder {
  color: transparent;
}
.dialog {
  padding: 40px;
  max-width: 500px;
}

.formElement {
  width: 100%;
}

/* .formElement input {
  color: white;
} */
.errorMsg {
  margin: 10px 0px;
}
